@import '../core/variables.scss';

.main {
    background-color: $color-secondary2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notes {
    background-color: $color-secondary2;
    padding: 1rem 1rem 1rem 1rem;

    &__list {
        background-color: $color-primary;
        border-left: 1px solid $color-primary3;
        border-right: 1px solid $color-primary3;
        border-top: 1px solid $color-primary3;
        border-radius: 6px 6px 0 0;

        &:focus {
            outline: none;
        }
    }

}