// fonts
$font-main: 'Montserrat', sans-serif;
$font-main2: 'Roboto', sans-serif;
$font-main3: 'HelveticaNeue', sans-serif;
$font-secondary: 'Libre Caslon Display', serif;
$font-secondary2: 'Merriweather Sans', sans-serif;
$font-secondary3: 'Bebas Neue', sans-serif;


// colors
$color-primary: #fff;
$color-primary2: #000;
$color-primary3: #ccc;
$color-primary4: #c4c4c4da;
$color-secondary: #8994C2;
$color-secondary2: #eee;
$color-secondary3: #a2a9c2;
$color-secondary4: #14267E;
$color-secondary5: #888;